<nav class="columns sixteen main_nav">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="brew tips" data-hook><%= link_to "brew tips", spree.root_path %></li>
    <li id="about" data-hook><%= link_to "contact", spree.root_path %></li>
    <li id="contact" data-hook><%= link_to "about", spree.root_path %></li>
  </ul>
</nav>
