<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div width='100%' style='text-align:center'>
  <h3>Brew your own beer is not as difficult as you might think</h3>
  <iframe width="90%" height="315" src="//www.youtube.com/embed/oobHoJYRezw" frameborder="0" allowfullscreen></iframe>
</div>

<div data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>

